.main_body{
    width: 1000px;
    margin-top: 20px;
    margin-left: 60px;  
}

.div_form{
    margin-bottom: 20px;
}

/* Tree diagram */

.main_reg_div{
  margin-bottom: 20px;
}

.caret{
  background: green;
}
